/***** General Layout Formatting ******/
html, body {
    margin: 0;
    padding: 0;
}

/***** nav bar *****/
#nav_bar ul {
	margin: 0;
	padding: 0;
	border: 1px solid black;
	/*margin and padding 0 gets rid of auto padding*/
}
#nav_bar ul a {
	display: block;
	padding: 4% 0;
}

#nav_bar ul a li {
	list-style-type: none;
	text-align: center;
}




/***** controls *****/

#controls {
	padding: 0 0 8% 0;
	border: 1px solid black;
}

#controls form > label{
	display: block;
	padding: 3%;
}

#controls form > input {
	display: block;
	margin: 0 0 0 3%;
	border: 1px solid black;
}
#genre h4 {
	padding: 0 0 0 6%;
}
#genre .floatLeft {
	float: left;
	clear: left;
	padding: 0 0 0 6%;
}
#genre .floatRight {
	float: right;
	clear: right;
	padding: 0 6% 0 0;
}
.checkBoxDiv input[type="checkbox"]{
	outline: 1px solid black;
}

div#clear {
	clear: both;
	padding: 10%;
}

button {
	display: block;
	margin: 0 auto 0 auto;
	width: 75%;
	padding: 5% 0 5% 0;
	border: 1px solid black;
	border-radius: 7.5%;
}




/****** Song Info ******/

#info {
	border: 1px solid black;
}

.songInfo {
	padding: 4%;
}

/*The entire container for the even songs (plus its details) should have a background color of Sea Shell (SeaShell or #FFF5EE)*/
#info :nth-child(even) {
	background-color: #FFF5EE;
}

#info :nth-child(odd) {
	background-color: #F5FFFA;
}
#info :first-child{
	font-weight: bold;
}



/***** Media Queries *****/

@media (min-width: 320px){
	body { 
		padding: 5%
	}
	#nav_bar {
		margin: 5% auto;
		text-align: center;
	}
	#nav_bar ul a {
		margin: 0;
		display: inline;
	}
	#nav_bar ul a li {
		border-right: 1px solid black;
		margin: 3%;
		padding: 0 3%;
		display: inline-block;
	}
	#nav_bar ul a li.noBorder {
		border: none;
	}
	#controls {
		margin-bottom: 5%;
	}
	#info ul li {
		display: inline-block;
		border-right: 1px solid black;
	}
}

@media (min-width: 468px){
	#nav_bar {
		text-align: left;
        margin: 2% 0;
	}
	#nav_bar ul a li {
		margin-left: 0;
		margin-right: 0;
	}
	#main-wrapper {
		display: flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: -moz-flex;
	}
	#controls {
		flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		-mz-flex: 1;
		margin: 0 5% 0 0;
	}
	#info {
		flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		-moz-flex: 1;
	}
}

@media (min-width: 768px) {
    body { 
		padding: 1%
	}
	#info {
		flex: 2;
		-webkit-flex: 2;
		-ms-flex: 2;
		-moz-flex: 2;
	}
	#info h1,
	#info ul {
		text-align: left;
	}
}

@media (min-width: 1000px) {
	#info {
		flex: 3;
		-webkit-flex: 3;
		-ms-flex: 3;
		-moz-flex: 3;
	}
}



/***** colors ****/
#nav_bar {
	background-color: #FFB4B0; 
}

#controls {
	background-color: #4DD7FA;
}

#info {
	background-color: #FEFAC0;
	color:#785616;
}