$red: #FFB4B0;
$blue: #4DD7FA;
$lightYel: #FEFAC0;
$darkYel: #785616;

@mixin box_border (){
  border: 2px solid black;
}
#main-wrapper {
  padding: 1%;
  margin: 1%;
}

html, body, div, form {
height: 95%;
}

header {
  @include box_border;
  background-color: $red;
  padding: 1%;
}

nav {
  ul {
    list-style:none;
    margin: 1% 0 1% 0;
  }
  a {
    text-decoration: underline;
    border-right: 1px solid black;
    &:last-child{
      border: none;
    }
  } 
  li {
    display: inline-block;
    text-decoration: underline;
    margin:0 2%;
    &.selected {
      text-decoration: none;
      color: black;
    }
  }
}

#player {
  width: 100%;
  margin: 2% 0 0 0;
}


div#controls {
  @include box_border;
  background-color: $blue;
  width: 22%;
  float: left;
  padding: 1%;
  display: block;
  input {
    display: block;
    padding: 2%;
    margin: 2% 0;
  }
  label {
    margin: 3% 0;
  }
}


div#genre  {
  margin: 15% 0 30% 0;
  height: auto;
  table{
    text-align:left;
  }
  caption {
    text-align: left;
    line-height: 1.5;
  }
  td {
    padding: 5% 5%;
    margin-right: 2%;
    input{
      outline: 1.5px solid black;
    }
  }
}

input[name="artist"], input[name="album"]{
  @include box_border;
  border-radius: 5px;
}

button {
  @include box_border;
  border-radius: 5px;
  display: block;
  text-align: center;
  margin: 20% auto;
  width: 50%;
  }

div#songs {
  @include box_border;
  background-color: $lightYel;
  float: right;
  width: 70%;
  padding: 1%;
  p {
    display: inline-block;
    border-right: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
    text-align: center;    
  }
  h2 {
    color: $darkYel;
    line-height: .4;
    &:first-child {
    }
  }
  .noBorder {
    border: none;
  }
}


