$red: #FFB4B0;
$blue: #4DD7FA;
$lightYel: #FEFAC0;
$darkYel: #785616;

@mixin box_border (){
  border: 2px solid black;
}

body {
  display: table;
}

.left-side, .right-side {
  float: none;
  display: table-cell;
}

#space{
  width: 5%;
  
}

header {
  @include box_border;
  background-color: $red;
}

nav {
  ul {
    list-style:none;
    margin: 1% 0 1% 0;
  }
  a {
    text-decoration: underline;
    border-right: 1px solid black;
    &:last-child{
      border: none;
    }
  } 
  li {
    display: inline-block;
    text-decoration: underline;
    &.selected {
      text-decoration: none;
      color: black;
    }
  }
}

#player {
  margin: 2% 0 0 0;
  width: 100%;
}


div#controls {
  @include box_border;
  background-color: $blue;
  height: 100%;
  input {
    display: block;
  }
}


div#genre  {
  table{
    text-align:left;
  }
  caption {
    text-align: left;
    line-height: 1.5;
  }
  td {
    input{
      outline: 1.5px solid black;
    }
  }
}

input[name="artist"], input[name="album"]{
  @include box_border;
  border-radius: 5px;
}

button {
  @include box_border;
  border-radius: 5px;
  display: block;
  text-align: center;
  }

div#songs {
  @include box_border;
  background-color: $lightYel;
  vertical-align: top;
  height: 100%;
  p {
    display: inline-block;
    border-right: 1px solid black;
    margin-right: 5px;
    padding-right: 5px;
    text-align: center;    
  }
  h2 {
    color: $darkYel;
    line-height: .4;
    &:first-child {
    }
  }
  .noBorder {
    border: none;
  }
}
